<article class="case grid-item">
  <figure class="case__illustration" style='background: #C1D6DB url("{{ content.field_illustration }}")'></figure>
  <div class="case-description-wrapper">
    <h4 class="case__title">{{ node.label }}</h4>
  </div>
</article>
