<a class="job-card" href={{ url }} {{ attributes }}>
    <div class="job-tile">
        <div class="card">
            <div class="center-flex">
                <img class="icon" src="/{{ directory }}/dist/images/svg/icon-job.svg" />
                <p class="title">{{ label }}</p>
            </div>
            <span class='select__arrow'>
              <i class="arrow arrow--right"></i>
            </span>        
          </div>
    </div>
</a>