.jobs-quote {
  z-index: -1;
  background-position-y: center;
  color: white;
  font-size: 25px;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  width: 100%;
  list-style-type: none;
  max-width: calc(1125px + (50vw - 555px));
  margin-right: -15px;

  li {
		margin-bottom: 10px;
  }
  @include sm {
		font-size: 20px;
  }

  h3 {
		color: #fff;
		margin-bottom: 16px;
		font-weight: bold;
  }

  p {
		margin: 0;
		font-size: 16px;
  }

  .quote {
		color: $primary;
  }

  .name {
		margin: 0 0 6px 0;
		font-weight: bold;
		font-size: 16px;
  }
}

.jobs-offers {
	margin: 48px 0;

	.filter {
		display: flex;
    flex-flow: wrap;
	}

	.select-description {
		font-size: 25px;
		font-weight: bold;
		color: #263d6c;
		margin-right: 12px;
		line-height: 40px;
	}

	h1 {
		margin: 0;

		.dot {
			color: $primary;
			margin-right: 12px;
      min-width: 25px;
      display: inline-block;
		}
	}

	.description {
		h3 {
			margin: 12px 0;
			font-size: 16px;
			font-weight: bold;
		}

		.career {
			color: #3b3b3b;
			font-size: 16px;
			font-weight: bold;
      display: flex;
      flex-flow: wrap;
      margin-bottom: 15px;
      @include sm {
        flex-flow: column;
        align-items: center;
      }

			.step {
				line-height: 40px;
				display: inline-block;
        @include sm {
          line-height: 25px;
        }
			}

			.arrow {
				background: url('../images/svg/arrow.svg') no-repeat center;
				display: inline-block;
				width: 32px;
				line-height: 40px;
        @include sm {
          transform: rotate(90deg);
        }
			}
		}
	}

	.offers-type {
		margin-top: 32px;

		.type-title:hover {
			cursor: pointer;
		}
	}

	.content {
		margin-left: 30px;

		.offers {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.job-offer {
				display: block;
				width: 344px;
				height: 200px;
				border-radius: 10px;
				background-color: #ffffff;
				border: solid 1px #c1d6db;
				text-align: center;
				padding-top: 48px;
				margin-right: 12px;
				margin-bottom: 12px;

				.city {
					color: $primary;
					height: 20px;
					font-weight: bold;
					font-size: 16px;
				}

				.title {
					color: #263d6c;
					height: 24px;
					font-size: 20px;
					padding: 0 30px;
				}

				&:hover {
				  &::after {
					content: none;
				  }
				}
			}

			.free-application {
				display: block;
				width: 344px;
				height: 200px;
				border-radius: 10px;
				background-color: #263d6c;
				text-align: center;

				p {
					padding-top: 72px;
					color: #fff;
					font-weight: bold;
					font-size: 20px;
				}

				&:hover {
				  &::after {
					content: none;
				  }
				}
			}
		}
	}
}

.content-job {
	padding: 0 13vw;

	@media (max-width: 768px) {
		padding: 0 5vw;
	}
	.item-list {
		ul {
			list-style-type: none;
			padding-inline-start: 0;
		}
	}
	.job-card {
		.job-tile {
			position: relative;
			margin-top: 16px;
			top: 0;
			transition: top ease 0.5s;
			.card {
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
					width: 100%;
					height: 100px;
					background: #263d6c;
					justify-content: space-between;
					border-radius: 10px;
					padding: 24px 24px;
					display: flex;
					align-items: center;
					cursor: pointer;
			}
			.icon {
					width: 36px;
					height: 36px;
					margin-right: 16px;
			}
			a {
					font-size: 20px;
					font-weight: 700;
					color: white;
			}
			.center-flex {
					display: flex;
					align-items: center;
					a:not(.btn):not(.tag):not(.no-link):not(.case-link):not(.atlwdg-trigger):not(.toolbar-icon):after {
						background: transparent;
					}
					.field-job-location {
						color: #fff;
						font-weight: 400;
					}
			}
		}
	
		.select__arrow {
			position: unset;
			.arrow--right {
				transform: rotate(-45deg);
				border-color: #fff;
			}
		}
		
		.job-tile:hover {
			top: -8px;
		}
	}
}

.job-node {
	background: #fff;
	align-items: center;
	.block {
			margin-top: 32px;
	}
	.btn-apply {
		.btn-primary {
			text-align: center;
			display: inline-block;
			cursor: pointer;
			position: relative;
			padding: 8px 48px;
			width: 100%;
			margin-top: 48px;
			border-radius: 10px;
			text-decoration: none;
			border: none;
			outline: 0;
			overflow: hidden;
			font-weight: 700;
			background: #263d6c;
    	color: #fff;
		}
	}
	#job-id {
		display: none;
	}
}
.job-card:not(.btn):not(.tag):not(.no-link):not(.case-link):not(.atlwdg-trigger):not(.toolbar-icon):focus:after {
	background-color: transparent;
}