nav.nav-methodo__wrapper {
  height: 148px;
  //margin-left: 55px;
  a {
    display: inline-block;
    height: 148px;
    font-family: ProximaNova, Helvetica, Sans-Serif;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $blue-gray;
    margin-right: 8%;
    &:last-child {
      margin-right: 0;
    }
    span {
      position: relative;
      display: inline-block;
      &.index {
        font-size: 80px;
        margin: 0 30px 0 0;
      }
    }
    &.active, &:hover {
      color: $blue-marine;
      span.index {
        color: $primary;
      }
    }
    &.active {
      cursor: default;
      span.index {
        &::after {
          content: "";
          position: absolute;
          margin: 98px auto 0 -55%;
          width: 2px;
          height: 50px;
          border: solid 2px $primary;
        }
      }
    }
  }
  &.nav-methodo-footer {
    height: 98px;
    margin-left: calc(50vw - 525px);
    a {
      height: 98px;
      &.next {
        span.index {
          &::before {
            content: "";
            position: absolute;
            margin: -130px auto 0 45%;
            width: 2px;
            height: 130px;
            border: solid 2px $primary;
          }
        }
      }
    }
  }
  @include lg {
    &.nav-methodo-footer {
      margin-left: calc(50vw - 435px);
    }
  }
  @include md {
    height: 118px;
    //margin-left: 20px;
    a {
      font-size: 40px;
      margin-right: 5%;
      span {
        &.index {
          font-size: 66px;
          margin: 0 24px 0 0;
        }
      }
      &.active {
        span.index {
          &::after {
            margin: 80px auto 0 -55%;
            height: 40px;
          }
        }
      }
    }
    &.nav-methodo-footer {
      height: 80px;
      margin-left: calc(50vw - 315px);
      a {
        height: 80px;
        &.next {
          span.index {
            &::before {
              margin: -104px auto 0 45%;
              height: 104px;
            }
          }
        }
      }
    }
  }
  @include sm {
    height: 74px;
    margin-left: 15px;
    a {
      font-size: 25px;
      margin-right: 3%;
      span {
        &.index {
          font-size: 40px;
          margin: 0 15px 0 0;
        }
      }
      &.active {
        span {
          &.index {
            &::after {
              margin: 40px auto 0 -55%;
              height: 20px;
              border: solid 1px $primary;
            }
          }
        }
      }
    }
    &.nav-methodo-footer {
      height: 48px;
      margin-left: 80px;
      a {
        height: 48px;
        &.next {
          span.index {
            &::before {
              margin: -75px auto 0 45%;
              height: 75px;
              border: solid 1px $primary;
            }
          }
        }
      }
    }
  }
  @include xs {
    height: 74px;
    a {
      font-size: 25px;
      span {
        &.index {
          font-size: 40px;
          margin: 0 15px 0 0;
        }
        &.txt {
          display: none;
        }
      }
      &.active {
        span {
          &.txt {
            display: inline-block;
          }
        }
      }
    }
  }
}
.methodology-header__wrapper.header {
    margin-top: 90px;
    @include sm {
      margin-top: 60px;
    }

  &:after {
    content: "";
    display: block;
    height: 80%;
    width: 100%;
    position: absolute;
    top: 40%;
    z-index: -1;
    background-color: white;
    margin: 0;

  }
  .methodology-header {
    font-family: ProximaNova;
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.6;
    letter-spacing: normal;
    color: $blue-marine;
    .bg-white {
      background-color: white;
      display: flex;
      flex-flow: wrap;
      justify-content: space-evenly;
      padding: 75px 0 60px 55px;
      div {
        max-width: 50%;
        span {
          color: $primary;
        }
        &:first-child {
        margin-right: 7%;
          max-width: 43%;
       }
        img {
          width: 100%;
          height: auto;
        }
        p {
          width: 100%;
          margin: 0;
          padding: 0;
        }
        ul {
          font-size: 40px;
          line-height: 1.6;
          list-style: none;
          margin: 11px 0 0 0;
          padding: 0;
          li {
            span {
              color: $primary;
            }
          }
        }
      }
      @include md {
        font-size: 30px;
        padding: 60px 0 60px 0px;
        align-items: center;
        div {
          max-width: 44%;
          &:first-child {
            margin-right: 0px;
            margin-bottom: 30px;
            max-width: 90%;
          }
        }
      }
      @include sm {
        flex-flow: column;
        padding: 37px 0 40px 0;
        div {
          max-width: 80%;
        }
      }
      @include xs {
        font-size: 24px;
        line-height: 1.6;
      }
    }
  }
}
.sticky-right {
  &__wrapper {
    z-index: -1;
    color: white;
    font-size: 25px;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    width: 100%;
    padding : 55px calc(50vw - 563px) 55px 30px;
    list-style-type: none;
    max-width: calc(1125px + (50vw - 570px));
    margin-left: calc(50vw - 570px);
    margin-right: -15px;
    &.design {
      background: linear-gradient( rgba(38, 61, 108, 0.8), rgba(38, 61, 108, 0.8) ), url("../images/Methodo-design.jpg");
      background-position-y: center;
    }
    &.deliver {
      background: linear-gradient( rgba(38, 61, 108, 0.8), rgba(38, 61, 108, 0.8) ), url("../images/Methodo-deliver.jpg");
      background-position-y: center;
    }
    &.drive {
      background: linear-gradient( rgba(38, 61, 108, 0.8), rgba(38, 61, 108, 0.8) ), url("../images/Methodo-drive.jpg");
      background-position-y: center;
    }

    @include lg {

      max-width: calc(945px + (50vw - 480px));
      margin-left: calc(50vw - 480px);
      padding : 55px calc(50vw - 473px) 55px 30px;
      &.design {
        background: linear-gradient( rgba(38, 61, 108, 0.8), rgba(38, 61, 108, 0.8) ), url("../images/Methodo-design1200.jpg");
        background-position-y: center;
      }
      &.deliver {
        background: linear-gradient( rgba(38, 61, 108, 0.8), rgba(38, 61, 108, 0.8) ), url("../images/Methodo-deliver1200.jpg");
        background-position-y: center;
      }
      &.drive {
        background: linear-gradient( rgba(38, 61, 108, 0.8), rgba(38, 61, 108, 0.8) ), url("../images/Methodo-drive1200.jpg");
        background-position-y: center;
      }
    }

    @include md {
      max-width: calc(705px + (50vw - 360px));
      margin-left: calc(50vw - 360px);
      padding : 55px calc(50vw - 353px) 55px 30px;
    }

    @include sm {
      max-width: calc(561px + (50vw - 288px));
      margin-left: calc(50vw - 288px);
      padding : 30px calc(50vw - 281px) 30px 20px;
      &.design {
        background: linear-gradient( rgba(38, 61, 108, 0.8), rgba(38, 61, 108, 0.8) ), url("../images/Methodo-design800.jpg");
        background-position-y: center;
      }
      &.deliver {
        background: linear-gradient( rgba(38, 61, 108, 0.8), rgba(38, 61, 108, 0.8) ), url("../images/Methodo-deliver800.jpg");
        background-position-y: center;
      }
      &.drive {
        background: linear-gradient( rgba(38, 61, 108, 0.8), rgba(38, 61, 108, 0.8) ), url("../images/Methodo-drive800.jpg");
        background-position-y: center;
      }
    }
    @include xs {
      margin-left: 15px;
      padding : 30px 15px 30px 20px;
    }
    li {
      margin-bottom: 10px;
    }
    @include sm {
      font-size: 20px;
    }
  }
}

.paragraph--type--methodology-content {
  &:after {
    content: "";
    display: block;
    height: 60%;
    width: 100%;
    position: absolute;
    top: 120%;
    z-index: -1;
    background-color: white;
    margin: 0;
  }
}
.methodology-paragraph {
  background-color: white;
  margin: 0 calc(50vw - 563px) 0 calc(50vw - 580px);
  padding: 60px 30px 1px 50px;
  @include lg {
    margin: 0 calc(50vw - 473px) 0 calc(50vw - 490px);//-90
    padding: 50px 30px 1px 30px;
  }
  @include md {
    margin: 0 calc(50vw - 353px) 0 calc(50vw - 370px);//-120
    padding: 50px 30px 1px 30px;
  }
  @include sm {
    margin:  0 calc(50vw - 281px) 0 calc(50vw - 298px);//-72
    padding: 30px 15px 1px 15px;
  }
  @include xs {
    margin: 0;
    padding: 30px 15px 1px 15px;
  }
  img {
    width: 100%;
    height: auto;
  }
  .methodology-icon {
    position: absolute;
    @include bp-nav {
      margin-left: 15px;
    }
    @include sm {
      margin-left: 15px;
    }
    @include xs {
      margin-left: 15px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  h2 {
    font-family: ProximaNova;
    font-size: 25px;
    font-weight: bold;
    color: $blue-marine;
		margin: 0 0 0 90px;
  }
  .metodology-content {
    font-family: ProximaNova;
    font-size: 16px;
    font-weight: normal;
    line-height: 2;
    color: $text;
		margin: 16px 32px 0 90px;

    .flex {
      display: flex;
      flex-flow: row;
      @include md {
        flex-flow: column;
        align-items: center;
      }
      a.methodo {
        display: inline-block;
        width: 269px;
        height: 157px;
        padding: 30px 25px;
        margin: 5px 28px 5px 0;
        border-radius: 10px;
        background-color: #ffffff;
        border: solid 1px #c1d6db;
        font-family: ProximaNova;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #263d6c;
        overflow: hidden;
        &:after {
          content: none;
        }
      }
    }

    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      li {
        padding-left: 1em;
        text-indent: -1.2em;
        &:before {
          content: "+";
          padding-right: 12px;
          color: $primary;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
  }
  &:first-of-type {
    margin-top: 60px;
  }
  &:last-of-type {
    margin-bottom: 80px;
    padding-bottom: 60px;
    @include sm {
      margin-bottom: 0px;
    }
    @include xs {
      margin-bottom: 0px;
    }
  }
}
