.highlight {
	color: $primary;
}

.client-case-page-header {
	width: 100%;

	.header-image {
		height: calc(48vw + 100px);
		max-height: 650px;
		overflow: hidden;
		margin: 0 auto;
		max-width: 1248px;

		img {
			width: 100%;
		}
	}
}

.tags-white-bg .case__tags {
	padding: 24px 48px;
	background-color: white;
	margin-top: 0;
}

.client-logo {
	max-width: 240px;
	max-height: 80px;
	margin: 8px 34px;
}

.grey-line {
  width: 420px;
  height: 3px;
  background-color: $light;
  border-radius: 2px;
	margin: 24px 34px;

	@include md {
		width: 80%;
		margin: 24px auto;
	}
}

.client-case-quote {
  z-index: -1;
  background: linear-gradient(rgba(38, 61, 108, 0.8), rgba(38, 61, 108, 0.8)),
    url("../images/numbers.webp");
  background-position-y: center;
  color: white;
  font-size: 25px;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  width: 100%;
  list-style-type: none;
	max-width: calc(1125px + (50vw - 555px));
	margin-left: calc(50vw - 570px);
	margin-top: 48px;
	margin-bottom: 48px;

  @include lg {
    background: linear-gradient(rgba(38, 61, 108, 0.8), rgba(38, 61, 108, 0.8)),
      url("../images/numbers1200.jpg");
    background-position-y: center;
    max-width: calc(945px + (51vw - 470px));
		margin-left: calc(50vw - 486px);
	}

  @include md {
    max-width: calc(710px + (52vw - 360px));
		margin-left: calc(50vw - 363px);
	}

  @include sm {
    background: linear-gradient(rgba(38, 61, 108, 0.8), rgba(38, 61, 108, 0.8)),
      url("../images/numbers800.jpg");
		margin-left: calc(62vw - 355px);
		max-width: calc(610px + (50vw - 332px));
		font-size: 20px;
	}

	@include xs {
		margin: 0;
		max-width: 100%;
	}

  li {
    margin-bottom: 10px;
	}

  h3 {
    color: white;
    margin-bottom: 16px;
	}

  p {
    margin: 0;
    font-size: 16px;
	}

  .quote {
    color: $primary;
	}

  .name {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
	}

	.container-left {
		margin: 0;
		padding: 48px;
	}

	img {
		border-radius: 50%;
	}
}

.client-case-goals {
  background-color: white;
  margin: 48px 0;
  .container {
    margin: 0 auto;
  }
  h3 {
    font-weight: bold;
    margin: 6px 0 12px 0;
  }
  p {
    line-height: 2;
  }
}

.client-case-images {
	margin-top: 48px;
	margin-bottom: 48px;

  h3,
  p {
    font-weight: bold;
    padding: 4px;
    margin: 0;
	}

  p {
    color: $secondary;
    line-height: 1;
	}

  h3 {
    color: $primary;
	}

	.image-case {
		text-align: center;
		margin-bottom: 24px;

		.image-circle {
			width: 100px;
			height: 100px;
			background-color: $secondary;
			border-radius: 50%;
			padding: 10px;
			margin: 0 auto 12px auto;
		}
	}
}

.client-case-text {
	.text {
		background-color: white;
		padding: 48px;
		border-radius: 8px;
	}

  h2,
  p {
    margin: 0;
    padding: 0;
	}

  h2 {
		line-height: 1;
		margin-bottom: 12px;
	}

	ul {
		li {
			list-style: none;
			margin-bottom: 8px;

			&:before {
				content: '\2B';
				color: $primary;
				margin-left: -22px;
				margin-right: 12px;
			}
		}
	}
}

.cases .client-case-text {
  margin-top: 85px;
}

.client-case-tabs {
  margin-top: 80px;
	margin-bottom: 120px;

	max-width: calc(1125px + (52vw - 572px));
	margin-left: calc(50vw - 572px);

	@include lg {
		background-position-y: center;
		max-width: calc(945px + (52vw - 480px));
		margin-left: calc(50vw - 486px);
	}

	@include md {
		margin: 80px 15px 48px 15px;
	}

  .tabs-header {
		display: flex;
		padding-left: 315px;

		@include sm {
			display: none;
		}

    .tab-title {
      color: $secondary;
      font-weight: bold;
      font-size: 1.4em;
			padding: 0 32px 8px 32px;

      &:hover {
        cursor: pointer;
      }
		}

    .selected {
      color: $primary;
    }
	}

	.tabs-container {
		.tab {
			background-color: $blue-marine;
			height: 265px;
			color: white;
			border-radius: 8px 0 0 8px;
			padding-left: 45px;

			@include lg {
				height: auto;
				min-height: 265px;
			}

			@include md {
				margin: 0;
				height: auto;
				border-radius: 8px;
			}

			@include sm {
				display: block !important;
				padding: 0;
				text-align: center;
				margin-top: 72vw;
			}

			.tab-image-container {
				margin-top: -42px;
				width: 250px;
				display: inline-block;

				@include sm {
					bottom: 0;
					left: 0;
					text-align: center;
					margin-top: -60vw;
					width: 72%;
				}

				img {
					@include sm {
						width: 100%;
					}
				}
			}

			.tab-content {
				padding: 32px 48px;
				width: 825px;
				display: inline-block;
				vertical-align: top;

				@include lg {
					width: 631px;
				}

				@include md {
					width: 396px;
					padding: 24px;
				}

				@include sm {
					width: 100%;
				}

				h2 {
					color: white;

					@include md {
						margin-top: 24px;
					}
				}
			}
		}
	}
}

.contact-infos {
	padding: 32px;
	background-color: white;
	border-radius: 8px;

	.contact-card {
		margin-top: 32px;
		display: flex;

		@include sm {
			flex-direction: column;
			text-align: center;
		}
	}

	.contact-form-block {
		padding-top: 20px;
	}

	.center {
    text-align: center;
	}

  .contact-image {
		width: 100%;
		border-radius: 8px;

		@include sm {
			width: 60%;
		}
	}

  .logo-image {
    width: 30px;
	}

  a:after {
    display: none;
	}

  h2,
  p {
    line-height: 1;
    margin: 0 0 12px 0;
  }
}

.new-client-case-webform {
	@include md {
		margin-top: 24px;
	}

	label {
		color: $blue-marine;
		font-weight: bold;
		&::after {
			color: $blue-marine !important;
		}
	}

	textarea {
		margin: 12px 0 24px 0;
		resize: none;
		width: 100%;
		height: 100px;
		color: $blue-marine;
		border: 1px solid #c1d6db !important;
		border-radius: 5px;
		padding: 10px !important;
		height: unset !important;
		&:focus {
			outline: none !important;
		}
		&::placeholder {
			color: $blue-marine;
		}
	}

	input[type=email] {
		width: 100%;
		margin: 12px 0 24px 0;
		color: $blue-marine;
		border: 1px solid #c1d6db !important;
		border-radius: 5px;
		padding: 10px !important;
		height: unset !important;
		&:focus {
			outline: none !important;
		}
		&::placeholder {
			color: $blue-marine;
		}
	}

	.form-actions {
		text-align: right;
	}
}

.related-cases h2 {
	margin-top: 48px;
}
