.pie-graph {
  &__object {
    width: 300px;
    height: auto;
    position: relative;

  }
}

.path-icon {
  @include sm {
    display: none;
  }
}

.graph-object__list {
  @include sm {
    height: 410px;
    overflow: hidden;
    @include display-flex(column, flex-start, flex-start);

    transition: height .2s ease;
    &.opened {
      height: auto;

      + .object__button {
        &:before {
          opacity: 0;
        }
      }
    }
  }
}

.object {
  &__label {
    font-size: rem(16px);
    word-break: break-word;
    text-align: left;
    margin-bottom: 10px;
    @include sm {
      opacity: 1;
      @include display-flex(row, flex-start, center);
      padding: 0 10px;
    }
    @include desktop {
      position: absolute;
      width: 135px;
      opacity: 0;
      transition: opacity .2s ease;
    }

    &.display {
      opacity: 1 !important;
    }

    &__number {
      font-weight: bold;
    }

    &--robotics {
      @include pie-label(53px, -133px, auto, auto, $robotics-style);
    }

    &--iot {
      @include pie-label(auto, -20px, -45px, auto, $iot-style);
    }

    &--printing {
      @include pie-label(auto, auto, 88px, -100px, $printing-style);
    }

    &--ai {
      @include pie-label(50px, auto, auto, -100px, $ai-style);
    }

    &--blockchain {
      @include pie-label(-10px, auto, auto, -40px, $blockchain-style);
    }

    &--vr {
      @include pie-label(-44px, auto, auto, 39%, $vr-style);
    }

  }


  &__icon {
    @include sm {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      margin-left: 10px;
    }
    @include desktop {
      display: none;
    }
  }

  &__text {
    @include display-flex(column, flex-start, flex-start);
  }

  &__button {
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 10px;

    &:before {
      content: '';
      position: absolute;
      top: -56px;
      right: -20px;
      bottom: 0;
      left: -20px;
      background: transparentize($light-blue, .3);
      opacity: 1;
      transition: opacity .2s ease;
    }
  }
}

.pie-description {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: auto;
  left: 0;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  max-width: 130px;
  text-align: center;
  opacity: 1 !important;
}

.object-description {
  color: $light-grey-2;
  font-size: rem(18px);
  width: 140px;
  word-break: break-word;
  text-align: center;
  opacity: 1;
}

#donut {
  .path {
    transition: all .2s ease;

    &:hover {
      cursor: pointer;
      stroke-width: 5px;
    }

  }
}

#path-robotics {
  stroke: $robotics-style;
}

#path-iot {
  stroke: $iot-style;
}

#path-printing {
  stroke: $printing-style;
}

#path-vr {
  stroke: $vr-style;
}

#path-ai {
  stroke: $ai-style;
}

#path-blockchain {
  stroke: $blockchain-style;
}
