// Colors
$primary: #E41919;
$secondary: #263D6C;
$tertiary: #C1D6DB;
$text: #3B3B3B;
$light: #BBBBBB;
$error: #E56655;

$disabledtxt: #989898;
$disabledbgd: #DDDDDD;

$yellow: #E8AF4F;
$yellow-deep: #E8884F;
$red: #E56655;
$red-light: #E41919;
$purple: #D065EA;
$purple-deep: #8F6BDF;
$green: #7DCC50;
$green-deep: #4ED3A9;
$blue: #37AFD6;
$blue-deep: #5881D1;
$blue-marine : #263d6c;
$blue-gray: #c1d6db;
$blue-astronaut: #273E6B;
$blue-footer: #1E2635;
$brown: #907C71;
$grey: #979797;
$light-blue: #f3f8fa;
$white: #fff;
$shadow: rgba(38, 61, 108, 0.14);
$dot-grey: #aeb7c9;
$robotics-style: #600B0B;
$iot-style: #981314;
$printing-style: #E41B1D;
$ai-style: #F76263;
$blockchain-style: #FC9898;
$vr-style: #FDC0C0;
$radio: #e0e0e0;
$light-grey: #f8f8f8;
$light-grey-2: #b8b8b8;
// Breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$base-font-size: 16px;
