{%
    set classes = [
    'paragraph section-graph section-health',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

<div {{ attributes.addClass(classes) }}>
     {{ content.field_bar_graph}}
      {{ content.field_pie_graph}}
</div>
