{%
    set classes = [
    'paragraph journey-path section-health',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

<section {{ attributes.addClass(classes) }}>
 <div class="container">
  <h3 class="clearfix journey-path__title bold-title bold-title--medium">{{ content.field_title }}</h3>
  <div class="journey-path__wrapper">
    {{ content.field_journey }}
  </div>
 </div>
</section>
