<section class="page-title">
	<div class="container">
		<h1><span class="title">{{ content.field_first_title }}</span>  {{ content.field_first_content }}</h1>
		<h1><span class="title">{{ content.field_second_title }}</span>  {{ content.field_second_content }}</h1>
	</div>
</section>
