<section class="sticky-right">
  <div class="container-fluid">
    <ul class="sticky-right__wrapper {{ content.field_background_img }}">
      <li>
        {{ content.field_right_sticky_txt }}
      </li>
    </ul>
  </div>
</section>
