<section class="team-description">
	<div class="container">
		<div class="row">
			<div class="col-md image">
				{{ content.field_team_description_image }}
			</div>
			<div class="col-md description">
				<p>{{ content.field_team_description }}</p>
			</div>
		</div>
	</div>
</section>
