{% if content.field_ongoing_projects %}
<div class="stay-up-to-date case-wrapper col-12 col-md-6 col-lg-4 active">
    <article class="case grid-item">
      {{ content.field_ongoing_projects }}
      {{ content.field_contact_link }}
    </article>
  </div>
{% endif %}
