<section class="team-executives">
	<div class="container">
		<div class="title-block">
			<h3 class="title-block__text">{{ 'Executives' | t }}</h2>
			<div class="title-block__line title-block__line--red"></div>
		</div>
		<div class="executives-slider">
			{{ content.field_team_executives }}
		</div>
	</div>
</section>
