<div class="related-cases container">
  <div class="title-block">
			<h3 class="title-block__text">{{ content.field_title }}</h3>
			<div class="title-block__line title-block__line--red"></div>
	</div>
  <div class="case-columns row" id="client-cases">
    {{ content.field_case }}
  </div>
</div>
