
<section class=" container header header__wrapper">
  <div class="row">
    {{ content.field_header_page_title }}
    <div class="bg-white">

      {{ content.field_header_content }}
      {{ content.field_header_img}}

    </div>
  </div>
</section>
