<div class="mission-banner-item">
  <div class="mission-banner-item-wrapper">
    <p class="mission-banner-item__title">{{ content.field_mission_banner_title }}</p>
      <div class="mission-banner-item__link">{{ content.field_mission_link }}<a href="{{ content.field_mission_link[0]['#url'] }}"><img src="/{{ directory }}/dist/images/svg/arrow_white.svg" /></a>
      </div>
  </div>
</div>
