<section class="mission-banner-wrapper" style="background: no-repeat center / cover linear-gradient(rgba(38,61,108,.8),rgba(38,61,108,.8)),url({{ content.field_discover_background_image }})">
{{ content.field_mission_content }}
</section>
