{%
    set classes = [
    'paragraph graph graph--pie',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

<div {{ attributes.addClass(classes) }}>
    <div class="container">
        <div class="d-flex flex-md-column flex-lg-row flex-column-reverse">
        
        <div class="col-12 col-md-12 col-lg-5">
            <div class="graph__image graph--pie__image">
                {{ content.field_pie_labels}}
            </div>
            
        </div>
        <div class="col-12 col-md-12 col-lg-7 graph__title graph--pie__title bg-white">
            <h3 class="bold-title bold-title--medium">{{ content.field_title}}<span class="bold-title__highlight">{{content.field_header_highlight}}</span></h3>
            
        </div>
    </div>
    </div>
    
</div>
