<section class="team-hiring">
    <div class="container-fluid">
        <div class="contact">
            <h3>{{ content.field_team_hiring_title }}</h3>
            <p>{{ content.field_team_hiring_text }}</p>
            
            {{ content.field_team_hiring_link }}
        </div>
    </div>
</section>
