<section class="header methodology-header__wrapper">
  <div class="container methodology-header">
    <div class="bg-white">
      {{ content.field_methodology_header_img}}
      {{ content.field_methodology_header }}
    </div>
  </div>
</section>
