<li>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="quote-inner__image quote-inner__image--circle">
          {{ content.field_quote_picture }}
        </div>
        <h3 class="quote-inner__content">
          <span class="quote-inner__icon">&laquo;</span>{{ content.field_quote_quote }}
          <span class="quote-inner__icon">&raquo;</span>
        </h3>
        <p class="quote-inner__name">
          {{ content.field_quote_name }}
        </p>
        <p class="quote-inner__statement">
          {{ content.field_quote_statement }}
        </p>
      </div>
    </div>
  </div>
</li>
