<section class="expertise__numbers-title number-title">
    <div class="container">
        <h1><span class="num">{{ content.field_expertise_number|render|striptags }}</span>  {{ content.field_expertise_text|render|striptags }}</h1>
    </div>
</section>
