<section class="client-case-quote">
	<div class="container container-left">
		<div class="row">
			<div class="col-md-auto">
				{{ content.field_case_quote_picture }}
			</div>
			<div class="col-md">
				<h3>{{ content.field_case_quote }}</h3>
				<p class="name">{{ content.field_case_quote_author }}</p>
			</div>
		</div>
	</div>
</section>
