<section class="team-numbers">
	<div class="container">
		<h1><span class="num">{{ content.field_team_employees_number }}</span>  {{ content.field_team_employees_text }}</h1>
		<h1><span class="num">{{ content.field_team_offices_number }}</span>  {{ content.field_team_offices_text }}</h1>
	</div>
</section>
